[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c '{{kafka_path}}/bin/kafka-server-start.sh {{kafka_path}}/config/server.properties'
ExecStop={{kafka_path}}/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target